*{
    margin: 0;
    padding: 0;
}
.faq .faq-one{
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
    font-family: Inter, sans-serif;;
}
.faq-one .faq-cate ul{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.faq-one .faq-cate ul li{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 40px;
    font-size: 16px;
    color: rgba(162, 159, 159, 0.95);
}
.faq-one .faq-cate ul li:hover{
    color: black;
}
.faq-where p{
    width: 600px;
    font-size: 16px;
    padding-top: 20px;
}
.faq-where ul{
    padding-top: 40px;
}
.faq-where ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 15px;
}
.line{
    margin: 20px 0px;
}
@media (min-width: 200px) and (max-width: 767px){

    .faq .faq-one{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 20px;
    }
    .faq-where p{
        font-size: 15px;
        width: 320px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

    .faq .faq-one{
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 50px;
    }
    .faq-where p{
        font-size: 18px;
    }
    .faq-where ul li{
        font-size: 18px;
    }
    .faq-one .faq-cate ul li{
        font-size: 18px;
    }
}
