*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-right ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-left .favorite, .nav-left .cart{
    display: flex;
    align-items: center;
    gap: 2px;
}
.shop{
    padding: 2rem;
    border: 1px solid #DDDDDD;
    display: grid;
    gap: 30px;
}
.shop .shop-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop .shop-bar .right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.shop .shop-bar .right button{
    padding: 8px 20px;
    background: transparent;
    border-radius: 20px;
}
.shop .shop-bar .left{
    display: flex;
    align-items: center;
    gap: 80px;
}
.shop .shop-bar .left .sort{
    display: flex;
    gap: 5px;
}
.cloth{
    padding: 2rem;
}
.cloth-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.cloth-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cloth-card-image{
    background: #F6F6F6;
    height: 100%;
}